*               text=auto
*.csproj        text encoding= eol=lf
*.cs            text eol=lf diff=charp
*.tt            text eol=lf
*.rc            text eol=crlf
*.h             text eol=crlf diff=cpp
*.cpp           text eol=crlf diff=cpp
*.vcproj        text eol=crlf
*.filters       text eol=crlf
*.md            text eol=lf
*.editorconfig  text eol=lf
*.gitattributes text eol=lf
*.gitignore     text eol=lf